.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-bottom: 1rem;
}

.form-field {
  flex: 1;
}

// .full-width {
//   width: 100%;
// }
