<h2 mat-dialog-title>{{ dialogTitle }}</h2>

<mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter Name" />
        <mat-error *ngIf="userForm.get('name')?.hasError('required')"> Name is required </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of _roles" [value]="role.id">
            {{ role.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('role')?.hasError('required')"> Role is required </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Branch</mat-label>
        <mat-select formControlName="branch">
          <mat-option *ngFor="let branch of _branches" [value]="branch.branchid">
            {{ branch.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('branch')?.hasError('required')">
          Branch is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Manager</mat-label>
        <mat-select formControlName="manager">
          <mat-option *ngFor="let manager of _managerUsers" [value]="manager.userid">
            {{ manager.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('manager')?.hasError('required')">
          Manager name is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="userForm.invalid">
    {{ data.mode === 'add' ? 'Add' : 'Update' }}
  </button>
</mat-dialog-actions>
