<h2 mat-dialog-title>{{ dialogTitle }}</h2>

<mat-dialog-content>
  <form [formGroup]="userRoleForm">
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Role Title</mat-label>
        <input matInput formControlName="name" placeholder="Enter Title" />
        <mat-error *ngIf="userRoleForm.get('name')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="Description" />
        <mat-error *ngIf="userRoleForm.get('description')?.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="userRoleForm.invalid">
    {{ data.mode === 'add' ? 'Add' : 'Update' }}
  </button>
</mat-dialog-actions>
